{% extends "base.html" %} 
{% load static %}
{% load custom_tags %}
{% block content %}
<div class="col-xl-8">
  <div class="card content-box-card">
    <div class="card-body">
      <div class="top-info">
        <div class="text">
          <h5 class="main-title">My name is <span>{{ about_me.name }}</span></h5>
          {{about_me.content|safe}}
        </div>
      </div>
      <div class="client-feedback">
        {% if trusted > 0 %}
          <h2 class="main-common-title">Trusted By <span>{{trusted}}</span> Clients</h2>
        
        <div class="row client-feedback-slider">
          {% for review in reviews %}
          <div class="col-lg-6">
            <div class="feedback-item">
              <div class="feedback-top-info">
                <div class="rating">
                  {% for _ in review.rate|times %}
                  <i class="fas fa-star"></i>
                  {% endfor %}
                </div>

              </div>
              <div class="details">
                <p class="truncated-content" id="truncated-{{ forloop.counter }}">
                  {{ review.truncated_content }}
                  <br>
                  {% if review.content|length > 400 %}
                    <button type="button" class="btn btn-dark btn-sm mt-2" onclick="toggleContent('{{ forloop.counter }}')">Show more</button>
                  {% endif %}
                </p>
                <p class="full-content" id="full-{{ forloop.counter }}" style="display: none;">
                  {{ review.content }}
                  <br>
                  <button type="button" class="btn btn-dark btn-sm" onclick="toggleContent('{{forloop.counter}}')">Show less</button>
              </p>
              </div>
              <div class="designation">
                <p><span>{{review.reviewer}}</span> - Product Designer</p>
                <p>{{review.uploaded_at}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% include 'slider.html' %}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  function toggleContent(id) {
      const truncatedContent = document.getElementById(`truncated-${id}`);
      const fullContent = document.getElementById(`full-${id}`);
      
      if (truncatedContent.style.display === "none") {
          truncatedContent.style.display = "block";
          fullContent.style.display = "none";
      } else {
          truncatedContent.style.display = "none";
          fullContent.style.display = "block";
      }
  }
</script>
{% endblock %}