{% extends "base.html" %} 
{% load static %}
{% block content %}
<div class="col-xl-8">
  <div class="card content-box-card">
    <div class="card-body portfolio-card">
      <div class="top-info">
        <div class="text">
          <h1 class="main-title">{{ title.title }}</h1>
          <p>{{ title.description }}</p>
        </div>
      </div>
      <div class="article-publications article-area">
        <div class="article-publications-main">
          <div class="row">
            {% for article in page_obj %}
            <div class="col-xl-6 col-lg-4 col-md-6">
              <div class="article-publications-item">
                <div class="image">
                  <a href="article.html" class="d-block w-100">
                    <img src="{{article.image.url}}" alt="blog-img-6" class="img-fluid w-100">
                  </a>
                  <a href="article.html" class="tags">{{article.category}}</a>
                </div>
                <div class="text">
                  <a href="article.html" class="title">{{article.title}}</a>
                  <ul class="list-unstyled">
                    <li>{{article.reading_time}} min read</li>
                    <li>{{article.uploaded_at}}</li>
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="pagination">
        <ul class="list-unstyled">
          {% for num in page_range %}
            {% if num == current_page %}
              <li class="prev">
                <button>
                  <strong>{{num}}</strong> 
                </button> 
              </li>
            {% else %}
              <li class="next">
                <a href="?page={{ num }}">
                  <button>
                    {{num}}
                  </button>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}