{% extends "base.html" %} 
{% load static %}
{% block content %}
<div class="col-xl-8">
  <div class="card content-box-card">
    <div class="card-body portfolio-card">
      <div class="top-info">
        <div class="text">
          <h1 class="main-title">{{ title.title }}</h1>
          <p>{{ title.description }}</p>
        </div>
      </div>
      <div class="article-publications article-area">
        <div class="article-publications-main">
          <div class="row">
            {% if articles|length == 0 %}
            <br>
            <h1 class="main-title">Don't have any articles written yet, but interesting topic will come soon.</h1>
            <br>
            {% else %}
              {% for article in articles %}
              <div class="col-xl-6 col-lg-4 col-md-6">
                <div class="article-publications-item">
                  <div class="image">
                    <a href="{{ article.get_absolute_url }}" class="d-block w-100">
                      <img src="{{article.image.url}}" alt="blog-img-6" class="img-fluid w-100">
                    </a>
                    <a href="article.html" class="tags">{{article.category}}</a>
                  </div>
                  <div class="text">
                    <a href="{{ article.get_absolute_url }}" class="title">{{article.title}}</a>
                    <ul class="list-unstyled">
                      <li>{{article.reading_time}} min read</li>
                      <li>{{article.uploaded_at}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      {% if articles|length > 2 %}
      <div class="pagination">
        <ul class="list-unstyled">
          {% if paginator_data.has_prev %}
            <li class="prev">
              <a href="?page={{ paginator_data.first }}">
              <button>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12H21M3 4v16" />
                </svg>
            
              </button>
              </a>
            </li>
            <li class="prev">
              <a href="?page={{ paginator_data.prev }}">
                <button>
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18">
                    </path>
                  </svg>
                </button>
              </a>
            </li>
            {% endif %}
          {% for num in paginator_data.page_range %}
            {% if num == paginator_data.current_page %}
              <li class="prev">
                <button>
                  <strong>{{num}}</strong> 
                </button> 
              </li>
            {% else %}
              <li class="next">
                <a href="?page={{ num }}">
                  <button>
                    {{num}}
                  </button>
                </a>
              </li>
            {% endif %}
          {% endfor %}
          {% if paginator_data.has_next %}
          <li class="next">
            <a href="?page={{ paginator_data.next }}">
              <button>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="2" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3">
                  </path>
                </svg>
              </button>
            </a>
          </li>
          <li class="next">
            <a href="?page={{ paginator_data.last }}">
              <button>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="2" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round"
                          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3M21 4.5v15" />
                </svg>
              </button>
            </a>
          </li>
            {% endif %}
        </ul>
      </div>
     {% endif %}
    </div>
  </div>
</div>
{% endblock %}