{% extends "base.html" %} 
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% block content %}
<div class="col-xl-4">
  <div class="row g-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body work-experiance-card">
          <h3 class="card-title">{% translate 'Work Experience' %}</h3>
          <div class="work-experiance-main">
            <ul class="work-experiance-slider {% if work_experience|length < 3 %}paused{% endif %} list-unstyled">
              {% for job in work_experience %}
              <li>
                <div class="date">
                  <p>{{ job.start_year }} - {{ job.end_year }}</p>
                </div>
                <div class="info">
                  <div class="icon">
                    <img src='{{job.image.url}}' alt="{{ static.name }}">
                  </div>
                  <div class="text">
                    <h4 class="title">{{ job.company }}</h4>
                    <h6 class="subtitle">{{ job.position }}</h6>
                  </div>              
                </div>
              </li>
                <p>{{ job.job_desc|safe }}</p>
                <br>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="card expertise-card">
        <div class="card-body">
          <h3 class="card-title">{% trans 'My Expert Area' %}
          </h3>
          <div class="expertise-main mt-24">
            <div class="row g-3">
            {% for skill in expert_area %}
            <div class="col-xl-4 col-md-4 col-sm-6 col-6">
              <div class="expertise-item">
                <div class="image text-center">
                  <img src='{{ skill.image.url }}' alt="{{ skill.name }}">
                </div>
                <div class="text">
                  <h4 class="title">{{ skill.name }}</h4>
                </div>
              </div>
            </div>
            {% endfor %} 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4">
  <div class="card card-projects">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="card-title">{% trans 'My Projects' %}</h3>
    {% if projects|length > 2 %}
    <a class="link-btn me-3" href="{% url 'works' %}">{% trans 'All Projects' %}
      <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M4.16699 10H15.8337" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M10.833 15L15.833 10" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M10.833 5L15.833 10" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg></a>
      {% endif %}
      </div>
      <div class="projects-main mt-24">
        <div class="row g-4 parent-container">
          {% for project in projects %}
            {% if forloop.counter <= 2 %}
            <div class="col-lg-12">
              <div class="project-item">
                <div class="image">
                  <img src='{{project.image.url}}' alt="project-1" class="img-fluid w-100">

                  <a href='{{project.image.url}}'
                    class="gallery-popup full-image-preview parent-container">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none"
                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                    <path d="M10 4.167v11.666M4.167 10h11.666"></path>
                  </svg>
                  </a>

                  <a href='{{project.image.url}}'
                    class="gallery-popup full-image-preview parent-container z-n1"> 
                  </a>
                  
                  <a href='{{project.image.url}}'
                    class="gallery-popup full-image-preview parent-container z-n1">
                  </a>
                  <div class="info">
                    <span class="category">{{project.name}}</span>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="services-area mt-24">
  <div class="row g-4">
    <div class="col-xl-8">
      <div class="card services-card">
        <div class="card-body">
          <h3 class="card-title">{% trans 'Services I Offered' %}
            {% if services|length > 4 %}
            <a class="link-btn" href="{% url 'services' %}"> See All Services
              <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M4.16699 10H15.8337" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M10.833 15L15.833 10" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M10.833 5L15.833 10" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </a>
            {% endif %}
          </h3>
          <div class="services-main mt-24">
            <div class="row g-4">
              {% for service in services %}
              <div class="col-md-3 col-sm-6 col-6">
                <div class="services-item text-center">
                  <div class="image">
                    <img src="{{ service.image.url }}" alt="{{service.name}}">
                  </div>
                  <div class="text">
                    <h3 class="title">{% trans service.name %}</h3>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card lets-talk-together-card">
        <div class="card-body">
          <div class="scrolling-info">
            <div class="slider-item">
              <p>
                {% trans 'Driven by passion, coded with precision 🧑🏻‍💻 Experience the digital world with me! 📱' %}{% trans 'Driven by passion, coded with precision 🧑🏻‍💻 Experience the digital world with me! 📱' %}
              </p>
            </div>
          </div>
          <h3 class="card-title">Let's👋<span class="d-block">Work Together</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}